Repository jhinrichsen/adventofcode2015: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

test-rust:stable:
  script:
  - rustc --version
  - cargo --version
  - cargo test --verbose
  image: rustdocker/rust:stable

test-rust:beta:
  script:
  - rustc --version
  - cargo --version
  - cargo test --verbose
  image: rustdocker/rust:beta

test_rust:nightly:
  script:
  - rustc --version
  - cargo --version
  - cargo test --verbose
  image: rustdocker/rust:nightly

verify-rust:
  image: guangie88/rustfmt-clippy
  script:
  - cargo fmt -- --check

test-go:
  image: golang
  script:
  - go get -u golang.org/x/lint/golint
  - golint
  - go vet
  - go test -cover -short
  coverage: '/coverage: \d+\.\d+%/'

perf: faster day 20 part 1
  day20.go
  day20_test.go
  sigma.go
  sigma_test.go
Due: test-go

doc: Euler's Sigma() function
  doc/E175en.pdf
Due: none

feat: add day 20 part 2
  day20.go
  day20_test.go
Due: test-go

refactor: rewrite day 1 Rust -> Go
  benches/day1.rs
  day1.go
  day1_test.go
  src/day1.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

refactor: day 2 Rust -> Go
  benches/day2.rs
  day2.go
  day2_test.go
  src/day2.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

refactor: day 3 Rust -> Go
  benches/day3.rs
  day3.go
  day3_test.go
  src/day3.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

refactor: CLEANING WOMAN
  day1.go
  day1_test.go
Due: test-go

feat: day 21 part 1
  day21.go
  day21_test.go
Due: test-go

ci: fix removal of day1-3
  src/lib.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust

feat: add day 21 part 2
  day21.go
  day21_test.go
Due: test-go

refactor: Day 4 Rust -> Go
  benches/day4.rs
  day4.go
  day4_test.go
  src/day4.rs
  src/lib.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

feat: add branchless implementation for day 1
  day1.go
  day1_test.go
Due: test-go

refactor: day 5 Rust -> Go
  base5.go
  base5_test.go
  benches/day5.rs
  day5.go
  day5_test.go
  src/day5.rs
  src/lib.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

refactor: day 6 Rust -> Go
  Makefile
  benches/day6.rs
  day6.go
  day6_test.go
  src/day6.rs
  src/lib.rs
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

feat: add day 21
  day21.go
  day21_test.go
Due: test-go

feat: add day 22 part 1 and 2
  base5.go
  day22.go
  day22_test.go
  testdata/day22_example1.txt
  testdata/day22_example2.txt
Due: test-go

feat: add day 23 part 1 and 2
  day23.go
  day23_test.go
  testdata/day23.txt
  testdata/day23_example.txt
Due: test-go

feat: add day 24
  day13.go
  day24.go
  day24_test.go
  day9.go
  doc/096.pdf
  doc/10.1.1.90.993.pdf
  doc/1610.04712.pdf
  heap.go
  heap_test.go
  testdata/day24.txt
  testdata/day24_example.txt
Due: test-go

feat: add day 25 unit test
  day25.go
  day25_test.go
Due: test-go

feat: add day 25 part 1
  day25.go
  day25_test.go
Due: test-go

doc: Delete LICENSE
  LICENSE
Due: none

doc: switching from MIT to GPL v3
  LICENSE
Due: none

ci: 2022 update
  .gitlab-ci.yml
  Makefile
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

refactor: staticcheck
  day18_test.go
  day19.go
  day21.go
  day5_test.go
  sigma.go
  sigma_test.go
Due: test-go

ci: remove staticcheck dependency
  .gitlab-ci.yml
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

feat: bump
  Makefile
  README.adoc
  benchmarks/go1.16.6_darwin_amd64.txt
  benchmarks/go1.17_darwin_amd64.txt
  day22.go
Due: test-go

chore: two digit filenames
  day01.go
  day01_test.go
  day02.go
  day02_test.go
  day03.go
  day03_test.go
  day04.go
  day04_test.go
  day05.go
  day05_test.go
  day06.go
  day06_test.go
  day08.go
  day08_test.go
  day09.go
  day09_test.go
Due: test-go

refactor: use Go 1.21 clear(map)
  day19.go
  go.mod
Due: test-go

doc: update Rust note
  LICENSE
  README.adoc
Due: none

doc: update license
  LICENSE
Due: none

feat(input): update
  go.mod
  go.sum
  input.go
Due: test-go

chore: add complete setup
  .editorconfig
  CONTRIBUTING.md
  LICENSE
  README.adoc
Due: none

doc: fix asciidoctor syntax
  README.adoc
Due: none

build: update
  Makefile
Due: none

build: tidy -> lint
  Makefile
Due: none

refactor: update ioutil to io/os
  .gitlab-ci.yml
  day01_test.go
  day03_test.go
  day12_test.go
  day15_test.go
  day18_test.go
  day22.go
Due: test-rust:stable, test-rust:beta, test_rust:nightly, verify-rust, test-go

refactor: correct spelling
  day05.go
  day08.go
  day17.go
  day18_test.go
  replace.go
Due: test-go

doc(LICENSE): update to AGPL v3
  LICENSE
Due: none

doc: add dashboard image
  static/dashboard.png
Due: none

perf: add benchmark draft
  README.adoc
  benchmarks/go1.22_linux_framework.txt
Due: none

Path conditions:
  test-rust:stable: any of: .gitlab-ci.yml, src/*.rs
  test-rust:beta: any of: .gitlab-ci.yml, src/*.rs
  test_rust:nightly: any of: .gitlab-ci.yml, src/*.rs
  verify-rust: any of: .gitlab-ci.yml, src/*.rs
  test-go: any of: .gitlab-ci.yml, *.go, go.mod
